<%- include("../partials/header") %>

    <div style="margin: 0;" class="ui big menu">
        <div class="item" style="margin-left: auto; margin-right: auto;">
            <div class="ui icon input">
                <form action="/painel" method="POST">
                    <select name="filtro" class="ui block dropdown" id="select">
                        <option value="all" selected hidden>Filtrar por categoria</option>
                        <option value="all">Mostrar todas</option>
                        <option value="Blusas">Blusas</option>
                        <option value="Camisas">Camisas</option>
                        <option value="Camisetas">Camisetas</option>
                        <option value="Calças">Calças</option>
                        <option value="Roupa íntima">Roupa íntima</option>
                        <option value="Calçados">Calçados</option>
                        <option value="Acessórios">Acessórios</option>
                    </select>
                    <button type="submit" class="ui fluid secondary button">Filtrar</button>
                </form>
            </div>
        </div>
    </div>

    <% if(message && (message.length> 0)){ %>
        <div class="ui container success form" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="ui success message">
                <div class="header">
                    <%= message %>
                </div>
            </div>
        </div>
    <% } %>

    <table style="margin: 0;" class="ui single line table">
        <thead>
            <th style="font-size: 24px;">Anúncios atuais:</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </thead>
        <tbody>
            <% anuncios.forEach(function(anuncio){%>
                <tr class="documentos-table-item">
                    <td style="font-size: 18px;">Nome do produto: <%= anuncio.nomeProduto %>
                    </td>
                    <td style="font-size: 18px;">Vendedor: <%= anuncio.loja.nome %>
                    </td>
                    <td style="font-size: 18px;">Categoria: <%= anuncio.categoria %>
                    </td>
                    <td style="font-size: 18px;">Preço: R$<%= anuncio.precoProduto %>
                    </td>
                    <td style="width: 200px;"><a class="ui fluid blue button"
                            href="/painel/visualizar-anuncio/<%= anuncio._id %>">Visualizar</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>




<%- include("../partials/footer") %>