<%- include("../partials/header") %>

    <div style="margin: 0;" class="ui big menu">
        <div class="item" style="width: 300px;">
            <a href="/painel/novo-anuncio" class="ui fluid positive button">Novo Anúncio</a>
        </div>
        <div style="width: 240px;" class="item">
        </div>
        <div class="item">
            <div class="ui icon input">
                <form action="" method="POST">
                    <select name="categorias" class="ui block dropdown" id="select">
                        <option value="" selected hidden>Ordenar por categoria</option>
                        <option value="all">Mostrar todas</option>
                        <option value="blusas">Blusas</option>
                        <option value="camisas">Camisas</option>
                        <option value="camisetas">camisetas</option>
                        <option value="calcas">calças</option>
                        <option value="intima">Roupa Intima</option>
                        <option value="calcados">Calçados</option>
                        <option value="acessorios">Acessórios</option>
                    </select>
                    <button type="submit" class="ui fluid secondary button">Filtrar</button>
                </form>
            </div>
        </div>
    </div>

    <% if(message && (message.length> 0)){ %>
        <div class="ui container success form" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="ui success message">
                <div class="header">
                    <%= message %>
                </div>
            </div>
        </div>
        <% } %>

        <table style="margin: 0;" class="ui single line table">
            <thead>
                <th style="font-size: 24px;">Seus anúncios:</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </thead>
            <tbody>
                <% anuncios.forEach(function(anuncio){%>
                    <tr class="documentos-table-item">
                        <td style="font-size: 18px;">Nome do produto: <%= anuncio.nomeProduto %>
                        </td>
                        <td style="font-size: 18px;">Categoria: <%= anuncio.categoria %>
                        </td>
                        <td style="font-size: 18px;">Preço: R$<%= anuncio.precoProduto %>
                        </td>
                        <td style="width: 200px;"><a class="ui fluid blue button"
                                href="/painel/editar-anuncio/<%= anuncio._id %>">Editar</a></td>
                        <td style="width: 200px;">
                            <form action="/painel/delete-anuncio/<%= anuncio._id %>"
                                method="POST">
                                <button type="submit" class="ui fluid negative button">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>



<%- include("../partials/footer") %>